<h1>Result</h1>
<p>
  <% if @resultat != true %>
    Sorry but <strong><%= @word %></strong> can't be built out of <%= @letters %>
  <% elsif @data["found"] != true %>
    Sorry but <strong><%= @word %></strong> does not seem to be a valid English word...
  <% else %>
    <strong>Congratulations!</strong> <%= @word %> is a valid English word!
  <% end %>
</p>

<%= link_to "Play Again", new_path %>
